@model DejandoHuella.ViewModels.ProductoTecnologicoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductoTecnologico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medidas" class="control-label"></label>
                <input asp-for="Medidas" class="form-control" />
                <span asp-validation-for="Medidas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Almacenamiento" class="control-label"></label>
                <input asp-for="Almacenamiento" class="form-control" />
                <span asp-validation-for="Almacenamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoSoftware" class="control-label"></label>
                <input asp-for="TipoSoftware" class="form-control" />
                <span asp-validation-for="TipoSoftware" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemoryRam" class="control-label"></label>
                <input asp-for="MemoryRam" class="form-control" />
                <span asp-validation-for="MemoryRam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBodega" class="control-label"></label>
                <input asp-for="IdBodega" class="form-control" />
                <span asp-validation-for="IdBodega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoBase64" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="FotoBase64" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Escoge una imagen</label>
                </div>
                <span asp-validation-for="FotoBase64" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var nombreArchivo = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(nombreArchivo);
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
