@model DejandoHuella.Models.ProductoElectrodomestico

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductoElectrodomestico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ConsumoElectrico" class="control-label"></label>
                <input asp-for="ConsumoElectrico" class="form-control" />
                <span asp-validation-for="ConsumoElectrico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBodega" class="control-label"></label>
                <input asp-for="IdBodega" class="form-control" />
                <span asp-validation-for="IdBodega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoBase64" class="control-label"></label>
                <input asp-for="FotoBase64" class="form-control" />
                <span asp-validation-for="FotoBase64" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medidas" class="control-label"></label>
                <input asp-for="Medidas" class="form-control" />
                <span asp-validation-for="Medidas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
